@import "@fastbuildai/ui/styles/globals.css";

.shadow-default {
    box-shadow: 0 0 6px 0 rgba(145 158 171 / 0.2);
    /* box-shadow:
        0 0 4px 0 rgba(145 158 171 / 0.2),
        0 0 24px -4px rgba(145 158 171 / 0.12); */
}

.shadow-primary {
    box-shadow:
        0 0px 6px -1px var(--color-primary-50),
        0 0px 5px -1px var(--color-primary-500);
}

.width140 {
    width: 140px;
}

.width160 {
    width: 160px;
}

.width180 {
    width: 180px;
}

@keyframes scale-95 {
    0% {
        transform: scale(0.95);
    }
    20% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
