@import "./tailwind.css";
@import "./variable.css";
@import "./ripples.css";

@layer base {
    * {
        @apply border-border;
        scrollbar-width: thin;
        scrollbar-color: var(--color-scrollbar) transparent;

        &:hover {
            scrollbar-color: var(--color-hover-scrollbar) transparent;
        }
    }
    html,
    body,
    #__nuxt {
        @apply m-0 h-full min-h-full p-0;
        font-family: "Roboto", ui-sans-serif, system-ui, sans-serif;
    }
    body {
        @apply bg-background text-foreground relative min-h-svh;
    }
    html {
        @apply max-w-[100vw];
    }

    body > [id^="dmermaid-"] {
        /* display: none !important; */
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}

/* Google Fonts - Local */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("../../../../buildingai-ui/public/assets/fonts/roboto-300.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../../../../buildingai-ui/public/assets/fonts/roboto-400.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../../../../buildingai-ui/public/assets/fonts/roboto-500.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../../../../buildingai-ui/public/assets/fonts/roboto-700.woff2") format("woff2");
}

#nuxt-app {
    height: 100%;
    width: 100%;
}

.shadow-default {
    box-shadow: 0 0 6px 0 rgba(145 158 171 / 0.2);
    /* box-shadow:
        0 0 4px 0 rgba(145 158 171 / 0.2),
        0 0 24px -4px rgba(145 158 171 / 0.12); */
}

.shadow-primary {
    box-shadow:
        0 0px 6px -1px var(--color-primary-50),
        0 0px 5px -1px var(--color-primary-500);
}
