@import "tailwindcss";
@import "@nuxt/ui";

@source "../**/**/*.{ts,tsx,vue}";
@source "../../../../buildingai-ui/app/**/*.{ts,tsx,vue}";
@source "../../../../../../plugins/**/**/*.{ts,tsx}";
@source "../../../designer/src/**/**/*.{ts,tsx,vue}";
@source "../../../layouts/src/**/**/*.{ts,tsx,vue}";

@custom-variant dark (&:is(.dark *));
