@import './tailwind.css';
@import './variable.css';

@layer base {
    * {
        @apply border-border;
        scrollbar-width: thin;
        scrollbar-color: var(--color-scrollbar) transparent;

        &:hover {
            scrollbar-color: var(--color-hover-scrollbar) transparent;
        }
    }
    html,
    body,
    #__nuxt {
        @apply min-h-full p-0 m-0 h-full;
    }
    body {
        @apply relative min-h-svh bg-background text-foreground;
    }
    html {
        @apply max-w-[100vw];
    }

    body > [id^="dmermaid-"] {
        /* display: none !important; */
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
}
