.width120 {
    width: 120px;
}

.width140 {
    width: 140px;
}

.width160 {
    width: 160px;
}

.width180 {
    width: 180px;
}

@keyframes scale-95 {
    0% {
        transform: scale(0.95);
    }
    20% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
